<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>org.mypackage.sample.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>org.mypackage.sample.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextServlet</servlet-name>
        <servlet-class>org.mypackage.sample.NextServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NowServlet</servlet-name>
        <servlet-class>org.mypackage.sample.NowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextServlet</servlet-name>
        <url-pattern>/NextServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NowServlet</servlet-name>
        <url-pattern>/NowServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
