<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NowServlet</servlet-name>
        <servlet-class>org.mypackage.camp.NowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoaServlet</servlet-name>
        <servlet-class>org.mypackage.camp.NoaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NyaoServlet</servlet-name>
        <servlet-class>org.camp.NyaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NowServlet</servlet-name>
        <url-pattern>/NowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoaServlet</servlet-name>
        <url-pattern>/NoaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NyaoServlet</servlet-name>
        <url-pattern>/NyaoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
